<div class="container">
  <button class="addBtn" routerLink="/addToSchedule">ADICIONAR</button>

  <div class="list">
    <div class="reminder">
      <div>
        <p>
          <i>Ir na casa do pastor Kalleb</i>
          <br/>
          <b><small>12/04 09:00</small></b>
        </p>
      </div>

      <div class="reminder-footer">
        <button mat-icon-button matTooltip="editar" mat-icon-button>
          <mat-icon>mode_edit</mat-icon>
        </button>

        <button mat-icon-button matTooltip="deletar">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
